/* global */
body{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7d7d7d;
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.main-page{
    /* border: 1px orange solid; */
    display: grid;
    grid-template-rows: 54px auto 54px;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.container{
    /* border: 1px cyan solid; */
    width: 80%;
    height: 100%;
    margin: auto;
}

.row{
    /* border: 1px purple solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    /* border: 1px green solid; */
    margin: auto 0px;
}

ul{
    padding: 0px;
    list-style: none;
}

/* header, section, footer{
    border: 1px red solid;
} */

.highlight{
    font-weight: 700;
}

.highlight_submenu{
    font-weight: 500;
}

h1{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0px;
    color: #222427;
}

h2{
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    color: #7d7d7d;
}


a{
    text-decoration: none;
}

a:hover{
font-weight: 700;
color: #94B7BB;
}


/* header */

header .container{
border-bottom: 1px #acacac solid;
}

header li{
    padding-left: 18px;
    text-transform: uppercase;
}

header a{
    color: #222427;
}

/* section */

.img-section{
    overflow: hidden;
}

.img-section .container{
    display: flex;
}

.img-section img{
    flex: 1;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.illustration-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-rows: 54px 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}

.illustration-section li{
    text-transform: uppercase;
}

#illustration-header{
    grid-column-start: 2;
}

#illustration-header .row{
    margin-left:auto;
    justify-content: flex-end;
}

#illustration-header li{
    padding-left: 18px;
}

#illustration-header li:hover{
    cursor:pointer;
    font-weight: 300;
    color: #94B7BB;
}

#illustration-image-grid::-webkit-scrollbar {
    width: 5px;
    background: transparent; /* make scrollbar transparent */
}

#illustration-image-grid::-webkit-scrollbar-thumb{
    width: 5px;
    background: #f1f1f1; 
}

#illustration-image-grid{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    padding: 10px;
    overflow: auto;
}

#illustration-image-grid img{
    display: flex;
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    cursor: pointer;
}

.illustration-image-fullsize{
    display: flex;
    overflow:auto;
}

.illustration-image-fullsize img{
    flex: 1;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    margin: 10px;
}

.about-section{
    overflow: hidden;
}

.about-section .container{
    display: flex;
}

.about-section img{
    flex: 1;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    margin: 27px auto;
}

.about-section p,h1,h2{
    padding-left: 54px;
    text-align: justify;
}


/* footer */

footer{
font-size: 12px;
color: #acacac;
}
/* footer */

footer{
    font-size: 12px;
    grid-row-start: 3;
}

footer .container{
    border-top: 1px #acacac solid;
}

footer .column{
    flex: 1;
}

#footer-left{
    justify-content: left;
}

#footer-left li{
    padding-right: 18px;
    text-transform: uppercase;
}

#footer-center{
    justify-content:center;
}

#footer-center li{
    padding: 0px 9px;
}

#footer-right{
    text-align: right;
    padding-left: 18px;
    text-transform: uppercase;
}

footer a{
    color: #acacac;
}